p {
  font-size: 20px;
  color: #fff;
  background-color: aqua;
  padding: 1em;
  margin: 2em;
}
.sottotitolo {
  background-color: beige;
}
#main {
  background-color: blueviolet;
}
h1 {
  text-align: center;
}
.container {
  display: flex;
  margin: 1em;
}
.form {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
input {
  max-width: 300px;
}